.header {
    /* Create a Flex Box */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Add the gradient background */
    background: linear-gradient(to right, #add8e6, #ffcccb); /* Light Blue to Light Red */
    color: var(--header-text-color);

    /* Fix */
    position: fixed;
    top: 0;
    width: 100%;

    /* Add a 2px white border */
    border-bottom: 1px solid white; /* 2px white border */
}

/* Dark Theme Header Gradient */
[data-theme="dark"] .header {
    background: linear-gradient(to right, #4682b4, #ffacaa); /* Darker Blue to Light Red */
    border-bottom: 1px solid black;
}

.header > button {
    background-color: transparent;
    border: none; /* Remove button border since it's handled by header */
    color: var(--header-text-color);
    font-weight: bold;
    cursor: pointer;
}

.header > * {
    margin-left: 1em;
    margin-right: 1em;
}
